<div class="jumbotron">
    <h1>Glassdoor API Client</h1>
    <p class="lead">Glassdoor API Client helps you make requests to Glassdoor API much easier.</p>
    <p><a href="https://github.com/DylanCh/GlassdoorAPI" class="btn btn-primary btn-lg">Fork &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Documentations</h2>
        <p>
            Documentations coming soon.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Download</h2>
        <p></p>
        <a href="https://github.com/DylanCh/GlassdoorAPI/blob/master/bin/Debug/GlassdoorAPI.dll" class="btn btn-primary">Download</a>
    </div>
</div>
